
@font-face {
    font-family: 'champagne';
    src: url(fonts/champagne.ttf);
}

.step:not(.left) {
    text-align: center;
}

.init .slogan {
    text-align: center;
    font-size: 1.3em;
    color: #aaa;
}

.ipad-video {
    background: url(../img/ipad.png) center center no-repeat;
    background-size: 100% 100%;
}

.ipad-video > * {
    margin: 26px 0 0 0;
}

.step.bordered {
    border-left: 3px dashed;
    border-color: #aaaaaa;
}

.step.active.bordered {
    border-color: #787878;
}