<div id="impress">
    <div id="welcome" class="step slide" data-x="-1000" data-y="-1500">
        <welcome></welcome>
    </div>

    <div class="step slide" data-x="0" data-y="-1500">
        <disruptive-advisory></disruptive-advisory>
    </div>

    <div class="step slide" data-x="1000" data-y="-1500">
        <toc></toc>
    </div>

    <div id="context" class="step" data-x="-20000" data-y="0" data-z="0" data-scale="2">
        <context></context>
    </div>

    <div id="context-rampagefwk" class="step" data-x="-20000" data-y="-2000" data-z="0" data-scale="2">
        <img src="../../../assets/rampage-framework.png" width="100%" height="100%">
    </div>

    <div id="context-rampagejs" class="step" data-x="-20000" data-y="2000" data-z="0" data-scale="2">
        <img src="../../../assets/rampagejs.png" width="100%" height="100%">
    </div>

    <div id="context-puzzle" class="step" data-x="-17000" data-y="0" data-z="0" data-scale="2">
        <img src="../../../assets/forms-apis-1.png" width="100%" height="100%">
    </div>

    <div id="context-form-based-apps" class="step only" data-x="-14000" data-y="0" data-z="0" data-scale="2">
        <img src="../../../assets/form-based-apps.png" width="100%" height="100%">
    </div>

    <div id="what-is-konga" class="step only" data-x="-14000" data-y="-2000" data-z="0" data-scale="2">
        <iframe width="1125" height="768" src="https://www.youtube.com/embed/ZJ5EaWzPAQ0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div id="architecture" class="step no-future" data-x="-14000" data-y="-2000" data-z="-10000" data-scale="5">
        <div style="text-align: center"><h1>Architecture</h1></div>
    </div>

    <div id="architecture-overview" class="step no-future" data-x="-12300" data-y="-650" data-z="-10000" data-scale="4">
        <architecture-overview></architecture-overview>
    </div>

    <div id="architecture-metadata" class="step no-future" data-x="-13200" data-y="-500" data-z="-10000" data-rotate="90" data-scale="2">
        <architecture-metadata></architecture-metadata>
    </div>

    <div id="architecture-engine" class="step no-future" data-x="-11400" data-y="-500" data-z="-10000" data-rotate="90" data-scale="2">
        <architecture-engine></architecture-engine>
    </div>

    <div id="government" class="step no-future" data-x="-7000" data-y="-2000" data-z="-10000" data-scale="5">
        <div style="text-align: center"><h1>Government</h1></div>
    </div>

    <div id="government-overview" class="step no-future" data-x="-5300" data-y="-650" data-z="-10000" data-scale="4">
        <government></government>
    </div>

    <div id="examples" class="step no-future" data-x="0" data-y="-2000" data-z="-10000" data-scale="5">
        <div style="text-align: center"><h1>Examples</h1></div>
    </div>

    <div id="examples-overview" class="step no-future" data-x="1700" data-y="-650" data-z="-10000" data-scale="4">

    </div>

    <div id="examples-presupuestor" class="step no-future" data-x="400" data-y="0" data-z="-10000" data-scale="2">
        <iframe width="1125" height="768" src="http://presupuestor.com/" frameborder="0" allowfullscreen></iframe>
    </div>

    <div id="examples-moneypenny" class="step no-future" data-x="3000" data-y="0" data-z="-10000" data-scale="2">
        <iframe width="1125" height="768" src="http://dev-bbva-moneypenny.appspot.com/" frameborder="0" allowfullscreen></iframe>
    </div>

    <div id="closure" class="step no-future" data-x="6000" data-y="-2000" data-z="-10000" data-scale="4">
        Closure
    </div>









    <div id="timeline" class="step always" data-x="-20000" data-y="0" data-z="0" data-scale="2">
        <timeline></timeline>
    </div>

    <!--<div id="puzzle" class="step" data-x="2500" data-y="0" data-z="0" data-scale="2">-->
        <!--<img src="../../../assets/forms-apis-1.png" width="100%">-->
    <!--</div>-->

    <!--<div id="backend" class="step" data-x="3500" data-y="-800" data-z="0" data-scale="4">-->
        <!--<img src="../../../assets/backend.png" width="50%">-->
    <!--</div>-->

    <!--<div id="form-based-apps" class="step" data-x="3500" data-y="1700" data-z="0" data-scale="2">-->
        <!--<img src="../../../assets/form-based-apps.png" width="100%">-->
    <!--</div>-->

    <!--<div id="video-what-is-konga" class="step ipad-video" data-x="3500" data-y="3700" data-z="0" data-rotate-x="0" data-rotate-y="0" data-scale="2">-->
        <!--<iframe width="800" height="600" src="https://www.youtube.com/embed/ZJ5EaWzPAQ0" frameborder="0" allowfullscreen></iframe>-->
    <!--</div>-->

    <!--<div id="timeline-init" class="step" data-x="10000" data-y="2500" data-z="0" data-rotate-x="0" data-rotate-y="0" data-scale="4">-->
        <!--Timeline-->
    <!--</div>-->

    <!--<div id="rampage-framework" class="step" data-x="10000" data-y="4700" data-z="0" data-rotate="90" data-rotate-x="0" data-rotate-y="0" data-scale="2">-->
        <!--<img src="../../../assets/rampage-framework.png" width="100%">-->
    <!--</div>-->

    <!--<div id="rampagejs" class="step" data-x="13150" data-y="2500" data-z="0" data-rotate-x="0" data-rotate-y="0" data-scale="2">-->
        <!--<img src="../../../assets/rampagejs.png" width="100%">-->
    <!--</div>-->

    <!--<div id="konga" class="step" data-x="10000" data-y="250" data-z="0" data-rotate="-90" data-rotate-x="0" data-rotate-y="0" data-scale="2">-->
        <!--<img src="../../../assets/konga-overall.png" width="100%">-->
    <!--</div>-->

    <!--<div id="metadatio" class="step" data-x="6800" data-y="2500" data-z="0" data-rotate="-180" data-rotate-x="0" data-rotate-y="0" data-scale="2">-->
        <!--<img src="../../../assets/metadatio.png" width="100%">-->
    <!--</div>-->

    <!--<div id="architecture-init" class="step" data-x="0" data-y="15000" data-z="0" data-rotate="-180" data-scale="10">-->
        <!--Architecture-->
    <!--</div>-->

    <!--<div id="arch-metadata" class="step" data-x="0" data-y="15000" data-z="0" data-rotate="-180" data-rotate-x="90" data-rotate-y="0" data-scale="4">-->
        <!--<img src="../../../assets/ipad.png" width="100%">-->
    <!--</div>-->

    <!--<div id="arch-engine" class="step" data-x="0" data-y="15000" data-z="0" data-rotate="-180" data-rotate-x="90" data-rotate-y="-90" data-scale="4">-->
        <!--<img src="../../../assets/ipad.png" width="100%">-->
    <!--</div>-->
</div>